<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rest</display-name>
<!--  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>-->
  <servlet>
      <servlet-name>indexService</servlet-name>
      <servlet-class>services.IndexService</servlet-class>
      </servlet>
  <servlet>
    <servlet-name>usersAddPoi</servlet-name>
    <servlet-class>services.users.AddPoi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersCheckname</servlet-name>
    <servlet-class>services.users.CheckName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersDelete</servlet-name>
    <servlet-class>services.users.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersLoggedIn</servlet-name>
    <servlet-class>services.users.LoggedIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userinfo</servlet-name>
    <servlet-class>services.users.UserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersLogOut</servlet-name>
    <servlet-class>services.users.LogOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutAll</servlet-name>
    <servlet-class>services.users.LogOutAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersRefresh</servlet-name>
    <servlet-class>services.users.Refresh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersRegister</servlet-name>
    <servlet-class>services.users.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersSaveToken</servlet-name>
    <servlet-class>services.users.SaveToken</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersUpdate</servlet-name>
    <servlet-class>services.users.Update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNetworks</servlet-name>
    <servlet-class>services.users.GetNetworks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TwitterCallback</servlet-name>
    <servlet-class>services.callbacks.TwitterCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FbCallback</servlet-name>
    <servlet-class>services.callbacks.FbCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoursquareCallback</servlet-name>
    <servlet-class>services.callbacks.FoursquareCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blogCreate</servlet-name>
    <servlet-class>services.blog.Create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getBlogs</servlet-name>
    <servlet-class>services.blog.GetBlogs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getMicroBlog</servlet-name>
    <servlet-class>services.blog.GetMicroBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shareBlog</servlet-name>
    <servlet-class>services.blog.ShareBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateBlog</servlet-name>
    <servlet-class>services.blog.UpdateBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersAddPoi</servlet-name>
    <url-pattern>/addpoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersCheckname</servlet-name>
    <url-pattern>/checkname/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersDelete</servlet-name>
    <url-pattern>/delete/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersLoggedIn</servlet-name>
    <url-pattern>/loggedin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userinfo</servlet-name>
    <url-pattern>/userinfo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersLogOut</servlet-name>
    <url-pattern>/logout/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutAll</servlet-name>
    <url-pattern>/logoutAll/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersRefresh</servlet-name>
    <url-pattern>/refresh/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersRegister</servlet-name>
    <url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersSaveToken</servlet-name>
    <url-pattern>/savetoken/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersUpdate</servlet-name>
    <url-pattern>/update/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNetworks</servlet-name>
    <url-pattern>/getnetworks/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwitterCallback</servlet-name>
    <url-pattern>/tcallback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FbCallback</servlet-name>
    <url-pattern>/fbcallback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoursquareCallback</servlet-name>
    <url-pattern>/fsqcallback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blogCreate</servlet-name>
    <url-pattern>/blog/create/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBlogs</servlet-name>
    <url-pattern>/blog/getblogs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getMicroBlog</servlet-name>
    <url-pattern>/blog/getmicroblog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shareBlog</servlet-name>
    <url-pattern>/blog/shareblog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBlog</servlet-name>
    <url-pattern>/blog/updateblog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>indexService</servlet-name>
      <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>